.btn {
    outline: none;
    cursor: pointer;
    border: none;
    position: relative;
    transition: 0.2s;
    font-family: Circe, sans-serif;
    position: relative;
    span {
        position: relative;
    }
    &:before {
        content: '';
        width: 0%;
        margin: auto;
        left: 0;
        right: 0;
        height: 100%;
        background: #7c7c7c;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: 0.2s;
        // z-index: -1;
    }
    &-black {
        color: #fff;
        font-weight: 600;
        font-size: 24px; // background: #000;
        background: 0 0;
        padding: 20px 40px;
        margin: auto;
        display: block;
        border: 3px solid transparent;
        text-transform: uppercase;
        &:before {
            background: #000;
            opacity: 1;
            width: 100%;
        }
        &:hover {
            color: #000;
            border: 3px solid #000;
            &:before {
                width: 0%;
                opacity: 1;
            }
        }
    }
    &-transparent-grey {
        min-width: 286px;
        font-size: 20px;
        background: 0 0;
        border: 3px solid #7c7c7c;
        padding: 20px 33px 14px 36px;
        color: #7c7c7c;
        letter-spacing: 1.5px;
        border-radius: 2px;
        font-weight: 600;
        &:hover {
            color: #fff;
            &:before {
                width: 100%;
                opacity: 1;
            }
        }
    }
    &:active {
        transform: translateY(1px);
    }
}