.contacts-page {
    #map {
        height: 600px;
        width: 100%;
    }
    &__phone {
        color: #2d2528;
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
        &[data-animate="true"] {
            animation-name: slideinUp;
            animation-duration: 1s;
        }
        &>div {
            font-size: 20px;
            letter-spacing: 2.4px;
            /* font-weight: 400; */
            margin-top: 11px;
        }
    }
    &__email {
        color: #2d2528;
        font-size: 20px;
        text-align: center;
        margin-top: 12px;
        text-transform: uppercase;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinUp;
        }
        &>div {
            font-size: 20px;
            letter-spacing: 2.7px;
            /* font-weight: 400; */
            margin-top: 3px;
        }
    }
    .grey-line {
        width: 91%;
        margin: 50px auto;
        border: 1px solid #ccc;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinLeft;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1920px;
        &_item {
            width: calc(100%/3 - 9px);
            margin-bottom: 55px;
            // &:nth-child(3),
            // &:nth-child(4) {
            //     margin-bottom: 18px;
            // }
            &:nth-child(3n+1) {
                &[data-animate="true"] {
                    animation-name: slideinUp;
                    animation-duration: 1s;
                    .contacts-page__list_item_img {
                        animation-name: slideinUp;
                        animation-duration: 1s;
                        animation-delay: 0s;
                    }
                }
            }
            &:nth-child(3n+2) {
                &[data-animate="true"] {
                    animation-name: slideinUp;
                    animation-duration: 1s;
                    animation-delay: 0.5s;
                    .contacts-page__list_item_img {
                        animation-name: slideinUp;
                        animation-duration: 1s;
                        animation-delay: 0.3s;
                    }
                }

            }
            &:nth-child(3n+3) {
                &[data-animate="true"] {
                    animation-name: slideinUp;
                    animation-duration: 1s;
                    animation-delay: 0.5s;
                    .contacts-page__list_item_img {
                        animation-name: slideinUp;
                        animation-duration: 1s;
                        animation-delay: 0.6s;
                    }
                }

            }
            &_wrapper {
                height: 255px;
            }
            &_address {
                font-size: 18px;
                color: #2d2528;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                margin-top: 31px;
                line-height: 28px;
                letter-spacing: 2px;
            }
            &_place {
                font-size: 18px;
                color: #2d2528;
                text-transform: uppercase;
                text-align: center;
                // height: 35px;
                font-weight: 400;
                margin-top: 25px;
                letter-spacing: 2.4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 35px;
            }
            &_phone {
                font-size: 18px;
                color: #2d2528;
                text-transform: uppercase;
                text-align: center;
                margin-top: 12px;
                font-weight: 600;
                letter-spacing: 2px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                img {
                    width: 19px;
                    height: 22px;
                    position: relative;
                    top: 3px;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
            &_time {
                font-size: 18px;
                color: #2d2528;
                text-transform: uppercase;
                text-align: center;
                // height: 35px;
                font-weight: 400;
                margin-top: 3px;
                letter-spacing: 2.4px;
            }
            &_marker {
                width: 26px;
                margin: auto;
                display: block;
            }
            &_img {
                width: 100%;
                margin-top: 25px;
                overflow: hidden;
                font-size: 0;
                opacity: 0;
                animation-fill-mode: forwards;
                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }
                img {
                    width: 100%;
                    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
        }
    }

    .question-form {

        margin-bottom: 80px;
        form {
            display: flex;
            justify-content: space-between;
            padding: 0 55px 0 102px;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            input {
                padding: 11px 20px 10px;
                font-size: 18px;
                margin-bottom: 31px;
                font-weight: 300;
                border-color: #b7b7b7;
                color: #a1a1a1;
                letter-spacing: 1.4px;
                &::-webkit-input-placeholder {
                    color: #a1a1a1;
                }
                &::-moz-placeholder {
                    color: #a1a1a1;
                }
                /* Firefox 19+ */
                &:-moz-placeholder {
                    color: #a1a1a1;
                }
                /* Firefox 18- */
                &:-ms-input-placeholder {
                    color: #a1a1a1;
                }
            }
            textarea {
                padding: 11px 30px 10px;
                font-size: 18px;
                margin-bottom: 35px;
                font-weight: 300;
                border-color: #b7b7b7;
                height: 194px;
                letter-spacing: 1.4px;
                color: #a1a1a1;
                &::-webkit-input-placeholder {
                    color: #a1a1a1;
                }
                &::-moz-placeholder {
                    color: #a1a1a1;
                }
                /* Firefox 19+ */
                &:-moz-placeholder {
                    color: #a1a1a1;
                }
                /* Firefox 18- */
                &:-ms-input-placeholder {
                    color: #a1a1a1;
                }
            }
        }
        &__col {
            width: calc(45% + 10px);
        }
        &__title {
            font-size: 28px;
            text-align: center;
            color: #000;
            margin: 80px 0 126px 0;
            position: relative;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 3.6px;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            &:after {
                position: absolute;
                content: '';
                width: 240px;
                margin: auto;
                left: 0;
                right: 0;
                bottom: -24px;
                background: #000;
                height: 2px;
            }
        }
        .btn {
            float: right;
        }
    }
    .subscription-form {
        background: url(img/subscr.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 49px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .7);
        }
        .container {
            padding: 60px 60px;
            position: relative;
        }
        &__title {
            font-size: 36px;
            text-align: center;
            color: #fff;
            margin: 0;
            position: relative;
            letter-spacing: 4.9px;
            text-transform: uppercase;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            small {
                font-size: 26px;
                display: block;
                margin-top: -10px;
                letter-spacing: 3.3px;
            }
            &:before {
                position: absolute;
                content: '';
                width: 35%;
                margin: auto;
                left: 0; // right: 0;
                top: 30px;
                background: #fff;
                height: 1px;
                pointer-events: none;
            }
            &:after {
                position: absolute;
                content: '';
                width: 35%;
                margin: auto;
                right: 0; // right: 0;
                top: 30px;
                background: #fff;
                height: 1px;
                pointer-events: none;
            }
        }
        form {
            padding: 47px 0 60px 0;
            margin: auto;
            display: block;
            max-width: 682px;
            text-align: center;
            position: relative;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            input {
                padding: 11px 20px 10px 20px;
                font-size: 18px;
                margin-bottom: 31px;
                font-weight: 300;
                background: 0 0;
                border-color: #fff;
                color: #fff;
                letter-spacing: 1.2px;
                &::-webkit-input-placeholder {
                    color: #fff;
                }
                &::-moz-placeholder {
                    color: #fff;
                }
                /* Firefox 19+ */
                &:-moz-placeholder {
                    color: #fff;
                }
                /* Firefox 18- */
                &:-ms-input-placeholder {
                    color: #fff;
                }
            }
        }
        .btn {
            margin: 60px auto 0px;
            font-size: 18px;
            padding: 11px 20px 10px 20px;
        }
    }
}