.footer {
    // height: 417px;
    .btn {
        display: none;
    }
    &-top {
        height: $footer-top-height;
        .container {
            display: flex; // align-items: flex-start;
            justify-content: space-between;
            padding: 74px 97px;
        }
    }
    &__logo {
        width: 502px;
        img {
            padding-right: 33px;
            max-width: 410px;
            &:last-child {
                display: none;
            }
        }
    }
    &__list {
        display: flex;
        margin-top: -3px;
        ul {
            width: 330px;
            padding: 0 64px 0 65px;
            border-left: 1px solid #ececec;
            &:last-child {
                padding: 0 64px 0 60px;
            }
            li {
                a {
                    color: #7d7d7d;
                    font-size: 20px;
                    font-weight: 300;
                    margin: 0 0 19px;
                    display: block;
                    transition: .3s;
                    letter-spacing: 1.4px;
                    &:hover {
                        font-weight: 600;
                        color: #000;
                    }
                }
                &:last-child a {
                    margin: 0;
                }
            }
        }
    }

    &-bottom {
        background: #1d1d1b;
        height: $footer-bottom-height;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 97px;
            height: 100%;
        }
        &__copyright {
            color: #41413d;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
        &__author {
            color: #41413d;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            padding-right: 14px;
        }
    }

    .socials-block {
        width: calc(100%/3);
        justify-content: flex-end;
    }
}

.socials-block {
    display: flex;

    align-items: flex-end;
    min-height: 100%;
    padding-right: 14px;
    font-size: 0;
    padding-bottom: 5px;
    a {
        display: block;
        border: 3px solid #bfbebf;
        margin-left: 25px;
        width: 54px;
        min-width: 54px;
        height: 54px;
        position: relative;
        &:hover {
            img {
                &:first-child {
                    top: -50px;
                    opacity: 0;
                    visibility: hidden;
                }
                &:last-child {
                    top: 12px;
                    opacity: 1;
                    visibility: visible;
                }
                &.vk {
                    &:last-child {
                        top: 9px;
                    }
                }
            }
        }
        img {
            width: 23px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            transition: 0.3s;
            &:first-child {
                top: 12px;
                opacity: 1;
                visibility: visible;
            }
            &:last-child {
                top: 50px;
                opacity: 0;
                visibility: hidden;
            }
            &.vk {
                width: 29px;
                top: 9px;
                &:last-child {
                    top: 50px;
                }
            }
        }
    }
}