.input {
    position: relative;
 
    border-radius: 4px;
    margin-bottom: 20px;
    // padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    // border-radius: 4px;
    // overflow: hidden;
    width: 508px;
    box-shadow: 0px 10px 50px -18px #000;
    height: 49px;
    input {
        width: 70%;
        height: 49px;
        outline: none;
        border: none;
        padding:  0 20px;
        font-size: 14px;
        border: 1px solid transparent;
        border-right: none;
        border-radius: 4px 0px 0px 4px;
        &.invalid {
            border-color: #f85359;
        }
        &.valid {
            border-color: #39b54a;
        }
    }

    .btn {
        border-radius: 0px 4px 4px 0;
        width: 30%;
        cursor: pointer;
        outline: none;
        border: none;
        height: 49px;
        padding: 5px;
        // border-radius:0;
        background-color: #39b54a;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 2.14;
        font-weight: 300;
        font-size: 14px;
            text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #ffffff;
    }
    &::-webkit-input-placeholder {
        color: #b0b0b1;
    }
    &::-moz-placeholder {
        color: #b0b0b1;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
        color: #b0b0b1;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
        color: #b0b0b1;
    }

    &:focus {
        // box-shadow: 0 0 1px 0px #000;
    }
    &.has-error {
        // box-shadow: none;
        border: 2px solid #ed1c24;
    }
    &.valid {
        border: 2px solid #00a651;
    }
}

.input-msg {
    position: absolute;
    font-size: 14px;
    top: -17px;
    left: 10px;
    &.invalid {
       color: #f85359;
    }
    &.valid {
       color: #39b54a;
    }
}