/* MOBILES */

// .desktop {
//     display: block;
// }
// .mobile {
//     display: none;
// }
@media screen and (max-width: 1600px) {
    .footer__logo {
        width: 400px;
        img {
            width: 100%;
        }
    }
    .footer__list ul,
    .footer__list ul:last-child {
        padding: 0 40px 0 40px;
        width: 275px;
    }
}

@media screen and (max-width: 1440px) { 
    .header__right .btn {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .footer__list ul,
    .footer__list ul:last-child {
        padding: 0 30px 0 30px;
        width: 220px;
    }

    .footer__list ul li a,
    .footer__list ul:last-child li a {
        font-size: 16px;
    }

    .home-page__item {
        .container {
            padding: 40px 40px;
        }
    }

    .home-page__item_text {
        font-size: 72px;
        width: 80%;
    }
    .home-page__item .separator {
        height: 40px;
    }
    .home-page__item_subtitle {
        margin-bottom: 50px;
        text-align: center;
    }
    .home-page__item_descr {
        font-size: 20px;
        line-height: 1.2em;
        text-align: center;
    }
    .home-page__item_info {
        width: 100%;
        margin: auto;
    }

    .modal[data-modal=online] .modal-body .modal-right {
        padding: 30px 30px;
    }
    .modal[data-modal=online] .modal-body .modal-title {
        font-size: 28px;
        width: 100%;
    }
    .modal[data-modal=online] .modal-body .modal-descr {
        font-size: 20px;
        width: 100%;
    }


    .policy-page__text {
        width: 100%;
    }

    .policy-page__title h2 {
        font-size: 28px;
        padding: 0 80px;
    }
}

@media screen and (max-width: 980px) {
    // main {
    //     min-height: calc(100% - 100px - $footer-top-height - $footer-bottom-height);
    // }
    .info-page__bg h1 {
        font-size: 60px;
    }
    .info-page__bg {
        height: 551px;
    }
    .home-page__item {
        height: calc(100vh - 100px);
    }
    .header {
        height: 100px;
    }
    .header__right {
        padding: 0;
    }
    .header .hamburger {
        height: 30px;
        width: 55px;
    }

    .header .hamburger span {
        height: 2px!important;
    }

    .header .hamburger span:nth-child(2) {
        top: 14px;
    }
    .header .hamburger span:nth-child(3) {
        top: 28px;
    }

    .header__language {
        margin: 0;
        display: block;
        li {
            text-align: right;
            margin-right: 0;
        }
        li:after {
            content: none;
        }
    }
    .header__logo {
        max-width: 277px;
        width: 100%;
        margin: -5px auto;
    }

    .header__center {
        align-items: baseline;
        width: calc(100% - 160px);
        padding: 0 20px;
    }
    .home-page__item_text {
        font-size: 64px; // width: 1%;
    }
    .home-page__item_next {
        right: 0;
        left: 0;
        margin: auto;

        width: 205px;
        height: 75px;
    }
    .header__menu_active {
        display: none;
    }
    .header__left {
        width: 80px;
        padding-bottom: 0;
    }
    .header__right {
        width: 80px;
        .btn {
            display: none;
        }
    }
    .header__cart {
        display: none;
    }
    .sidebar {
        width: 80%;
        padding: 50px 10% 50px 22%;
        &__close {
            right: auto;
            left: 30px;
        }
        ul {
            margin-top: 50px;
            li {
                margin-bottom: 45px;
                height: 50px;
            }
        }
        .btn {
            width: 100%;
            max-width: 290px;
            display: block;
        }
    }
    .footer {
        height: auto;
        .container {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            padding: 20px;
        }
        &__logo {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            border-top: 1px solid #e3e2e3;
            padding-top: 30px;
            img {
                padding-right: 0;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                    margin: auto;
                }
            }
        }
        &__list {
            display: none;
        }
        .socials-block {
            justify-content: center;
            width: 100%;
        }
        .btn {
            margin: 40px auto;
            display: block;
        }
    }

    .modal[data-modal=online] .modal-body .modal-left {
        display: none;
    }
    .modal[data-modal=online] .modal-body .modal-right {
        width: 100%;
    }
    .modal[data-modal=online] .modal-body .modal-input {
        margin: 30px auto 20px;
    }


    .policy-page__title h2 {
        font-size: 24px;
        padding: 0 30px;
    }

    .policy-page__text {
        font-size: 20px;
        margin-top: 40px;
    }

    .team-page {
        .container {
            padding: 0;
        }
        .team-page__main {
            flex-wrap: wrap;
            &__left {
                width: 100%;
                height: 437px;
                &:after {
                    border-left: 30px solid transparent;
                    border-right: 30px solid transparent;
                    border-bottom: 30px solid #f4f4f4;
                    bottom: 0;
                    top: auto;
                    left: 0;
                    right: 0;
                }
            }
            &__right {
                width: 100%;
                height: 437px;
            }
            &_position {
                width: 60%;
                margin: 90px auto 0;
            }
        }
        &__list {
            padding: 0 25px;
            &_item {
                width: 100%;
                max-width: 578px;
                margin: 0 auto 30px;
                &:nth-child(3n+1),
                &:nth-child(3n+2),
                &:nth-child(3n+3) {
                    animation-delay: 0s;
                }
                &_img {}
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .home-page__item_text {
        font-size: 56px;
    }

    .sidebar {
        padding: 50px 10% 50px 10%;
        .btn {
            min-width: 230px;
            margin-top: 60px;
            padding: 20px 20px 14px 20px;
        }
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }


    .policy-page {
        padding-top: 30px;
    }
    .policy-page__title {
        margin: 50px 0!important;
        h2 {
            padding: 0;
            word-break: break-word;
            font-size: 20px;
            position: static;
            br {
                display: none;
            }
        }
        &:after {
            content: none;
        }
    }
    .policy-page__text {
        font-size: 18px;
        margin-top: 40px;
    }
    .team-page .team-page__main_position {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
        &__socials {
            display: none;
        }
    }

    .team-page__list_item_info {
        padding: 50px 20px;
    }
    .team-page__main_name {
        font-size: 28px;
    }
    .team-page__list_item_name,
    {
        font-size: 24px;
    }
    .team-page__list_item_position {
        font-size: 16px;
    }
    .team-page__main_position {
        font-size: 20px;
    }
}