.news-page,
.news-details-page {
    .crossed-title {
        margin: 104px 0;
    }
    .info-page__title {
        margin: 50px 0 60px;
    } // .container {
    //     padding: 0 30px;
    // }
    #map {
        height: 600px;
        width: 100%;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        $c: &;
        opacity: 1;

        &.slick-slider {
            margin: 0;
            .slick-list.draggable{
                padding-top: 0;
            }
        }

        &[data-animate] { 
            .news-page__list_item {
                opacity: 0;
                animation-fill-mode: forwards;
                &:nth-child(3n + 1) {
                    animation-delay: 0s;
                }
                &:nth-child(3n + 2) {
                    animation-delay: 0.3s;
                }
                &:nth-child(3n + 3) {
                    animation-delay: 0.6s;
                }
            }
        }
        &[data-animate="true"] {
            .news-page__list_item {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
        }

        &_item {
            width: 49%;
            margin-bottom: 80px;

            &_img {
                overflow: hidden;
                position: relative;
                &[data-animate="true"] {
                    animation-name: slideinUp;
                    animation-duration: 1s;
                }
            }
            &_date {
                text-align: center;

                font-size: 26px;
                position: relative;
                margin-top: 55px;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    content: '';
                    width: 106px;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: -20px;
                    background: #000;
                    height: 1px;
                }
            }
            &_descr {
                font-size: 20px;
                color: #7c7c7c;
                text-align: center;
                width: 80%;
                margin: 24px auto 0;
                line-height: 30px;
                letter-spacing: 0.5px;
            }
            &_title {
                text-align: center; // padding: 20px;
                font-size: 36px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 1.3em;
                &:hover {
                    text-decoration: underline;
                }
            }
            &_hover {
                transition: 0.3s;
                opacity: 0;
                background: rgba(0, 0, 0, .5);
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 34px;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    position: relative;
                    font-weight: 300;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 50px;
                        background: #fff;
                        height: 2px;
                        left: 0;
                        right: 0;
                        margin: -90px auto 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 18px;
                        left: 0;
                        right: 0;
                        margin: 115px auto 0;
                        background: url(img/arrow-right-white.png);
                    }
                }
            }
        }
        &#{$c} {
            $list: &;
            &_popular {
                // margin-bottom: 105px;
                .news-page__list_item {
                    padding-bottom: 30px;
                    // width: calc(100%/ 3 - 100px);
                    &_date {
                        margin-top: 20px;
                        font-size: 24px;
                        letter-spacing: 1px;
                    }
                    &_title {
                        font-size: 26px;
                        margin-top: 50px;
                        letter-spacing: 2.8px;
                        line-height: 1.2em;
                    }
                    &_img {
                        // height: 552px;
                        position: relative;
                        font-size: 0; // &:after {
                        //     transition: 0.3s;
                        //     opacity: 0;
                        //     background: rgba(0, 0, 0, .5);
                        //     position: absolute;
                        //     content: '';
                        //     left: 0;
                        //     top: 0;
                        //     width: 100%;
                        //     height: 100%;
                        // }
                        &:hover {
                            // &:after {
                            //     opacity: 1;
                            // }
                            .news-page__list_item_hover {
                                opacity: 1;
                            }
                        }
                        img {
                            // position: absolute;
                            // top: 0;
                            // right: 0;
                            // bottom: 0;
                            // left: 0;
                            max-width: 608px;
                            margin: auto;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            &_all {
                // #{$list}_item {
                .news-page__list_item {
                    width: calc(100%/3 - 20px);
                    &_title {
                        font-size: 24px;
                        margin-top: 50px;
                        letter-spacing: 1.1px;
                        width: 80%;
                        margin: 40px auto 0;

                    }
                    &_date {
                        margin-top: 20px;
                        font-size: 20px;
                        letter-spacing: 1.5px;
                        &:after {
                            bottom: -15px;
                        }
                    }
                    &_img {
                        &:hover {
                            img {
                                transform: scale(1.05);
                            }
                        }
                        img {
                            transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
                            display: block;
                            margin: auto;
                            max-width: 485px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .news-details {
        &__title {
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            margin: 87px auto 59px;
            width: 70%;
            line-height: 49px;
            letter-spacing: 2.4px;
            font-weight: 600;
            position: relative;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
        }
        &__separator {
                width: 214px;
                margin: 20px auto 20px;
                bottom: -61px;
                background: #000;
                height: 2px;
                &.big {
                    margin: 120px auto 30px;
                }
                &[data-animate="true"] {
                    animation-name: slideinLeft;
                    animation-duration: 1s;
                    animation-delay: 0.5s;
                }
        }
        &__image {
            &[data-animate="true"] {
                animation-name: slideinLeft;
                animation-duration: 1s;
            }
            img {
                width: 100%;
            }
        }
        &__subtitle {
            font-size: 28px;
            text-align: center;
            text-transform: uppercase;
            margin: 50px auto 80px;
            letter-spacing: 1.6px;
            width: 70%;
            line-height: 49px;
            font-weight: 400;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 80px;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            ul {
                width: calc(50% - 48px);
                margin-bottom: 30px;
                li {
                    font-size: 24px;
                    width: 100%;
                    line-height: 38px;
                    &:first-child {
                        line-height: 38px;
                        font-weight: 600;
                        margin-bottom: 4px;
                    }
                }
            }
        }

        &__paragraph {
            font-size: 20px;
            // margin: 100px 0 60px;
            width: 80%;
            margin: 60px auto 50px;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            p {
                line-height: 36px;
                margin-top: 25px;
            }
            a {
                text-decoration: underline;
            }
            b {
                font-weight: 600;
                // display: block;
            }
            .news-details__separator {
                margin: 40px auto;
            }
            &.center {
                text-align: center;
            }
        }

        .btn {
            margin: 80px auto 50px;
            display: block;
            font-size: 18px;
            letter-spacing: 1.6px;
            padding: 11px 27px 10px 29px;
            max-width: 304px;
            width: 100%;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
        }

        &__address {
            margin-bottom: 100px;
            &[data-animate="true"] {
                animation-name: slideinUp;
                animation-duration: 1s;
            }
            &_title {
                font-size: 28px;
                text-align: center;
                text-transform: uppercase;
                margin: 70px auto 0;
                letter-spacing: 3.5px;
                line-height: 49px;
                font-weight: 600;
            }
            &_value {
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                margin: 12px auto 60px;
                letter-spacing: 3.4px;
                line-height: 49px;
            }
            .btn {
                padding: 18px 10px 12px 10px;
                font-size: 24px;
                letter-spacing: 1.8px;
                max-width: 356px;
                width: 100%;
            }
        }
    }
}