.policy-page {
    padding-top: 40px;
    padding-bottom: 40px;
    .container {}
    &__title {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinUp;
        }
        &.first {
            margin: 25px auto;
        }
        &.second {
            margin: 80px auto 0;
        }
        &.third {
            margin: 80px auto 0;
            h2 {
                top: 14px;
            }
        }
        h2 {
            font-weight: 600;
                letter-spacing: 3.3px;
                line-height: 1.4em;
                font-size: 24px;
                margin: auto;
                background: #fff;
                position: relative;
                z-index: 1;
                display: inline-block;
                padding: 0 160px;
        }
        &:after {
            content: '';
            height: 3px;
            width: 100%;
            position: absolute;
            background: #000;
            top: 25px;
            left: 0;
        }
    }
    &__text {
        width: 65%;
        margin: 50px auto 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        &[data-animate="true"] {
            animation-duration: 1s;
            animation-name: slideinUp;
        }
        b {
            font-weight: 600;
            display: block;
            text-align: justify;
        }
        &_inner {
            margin-top: 34px;

            >div {
                margin-bottom: 6px;
                line-height: 30px;
                text-align: justify;
                &.offset {
                    margin-bottom: 32px;
                }
            }
        }
    }
}
