.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 53px 169px;
    background: #fff;
    z-index: 100;
    width: 595px;
    max-width: 595px;
    min-height: 100%;
    visibility: hidden;
    left: -610px;
    transition: 0.5s;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
    &.active {
        left: 0; // opacity: 1;
        visibility: visible;

        ul {
            li {
                a {
                    animation-duration: 1s;
                    animation-name: slideinUp;
                }
                &:nth-child(1) a{
                    animation-delay: 0.1s;
                }
                &:nth-child(2) a{
                    animation-delay: 0.2s;
                }
                &:nth-child(3) a{
                    animation-delay: 0.3s;
                }
                &:nth-child(4) a{
                    animation-delay: 0.4s;
                }
                &:nth-child(5) a{
                    animation-delay: 0.5s;
                }
                &:nth-child(6) a{
                    animation-delay: 0.6s;
                }
                &:nth-child(7) a{
                    animation-delay: 0.7s;
                }
            }
        }
    }
    &__close {
        position: absolute;
        right: 30px;
        cursor: pointer;
    }
    &__socials {
        img {
            margin-left: 21px;
            &:first-child {
                margin: 0;
            }
        }
    }
    .btn {
        display: none;
    }
    ul {
        li {
            // margin-bottom: 85px;
            overflow: hidden;
            position: relative;
            height: 120px;
            a {
                text-transform: uppercase;
                font-size: 24px;
                color: #1d1d1b;
                font-weight: 300;
                position: absolute;
                // transition: 0.3s;
                opacity: 0;
                animation-fill-mode: forwards;
                // position: relative;
                &.active {
                    font-weight: 600;
                    color: #000;
                }
                &:hover {
                    font-weight: 600;
                    color: #000;
                }
            }
        }
    }
}


@keyframes slideinUp {
    from {
        // transform: translateY(100%);
        top: 120px;
        opacity: 0;
        // visibility: hidden;
    }

    to {
        // transform: translateY(0);
        opacity: 1;
        top: 0px;
        // visibility: visible;
    }
}